.iconmarker1{ background-image: url(../icon/marker/16x18/iconmarker1.png) !important; }
.iconmarker2{ background-image: url(../icon/marker/16x18/iconmarker2.png) !important; }
.iconmarker3{ background-image: url(../icon/marker/16x18/iconmarker3.png) !important; }
.iconmarker4{ background-image: url(../icon/marker/16x18/iconmarker4.png) !important; }
.iconmarker5{ background-image: url(../icon/marker/16x18/iconmarker5.png) !important; }
.iconmarker6{ background-image: url(../icon/marker/16x18/iconmarker6.png) !important; }
.done{ background-image: url(../icon/marker/16x18/done.png) !important; }
.iconmarker7{ background-image: url(../icon/marker/16x18/iconmarker7.png) !important; }
.iconmarker8{ background-image: url(../icon/marker/16x18/iconmarker8.png) !important; }
.iconmarker9{ background-image: url(../icon/marker/16x18/iconmarker9.png) !important; }
.iconmarker10{ background-image: url(../icon/marker/16x18/iconmarker10.png) !important; }
.iconmarker11{ background-image: url(../icon/marker/16x18/iconmarker11.png) !important; }
.iconmarker12{ background-image: url(../icon/marker/16x18/iconmarker12.png) !important; }
.iconmarker13{ background-image: url(../icon/marker/16x18/iconmarker13.png) !important; }
.iconmarker14{ background-image: url(../icon/marker/16x18/iconmarker14.png) !important; }
.iconmarker15{ background-image: url(../icon/marker/16x18/iconmarker15.png) !important; }
.iconmarker16{ background-image: url(../icon/marker/16x18/iconmarker16.png) !important; }
.iconmarker17{ background-image: url(../icon/marker/16x18/iconmarker17.png) !important; }
.iconmarker18{ background-image: url(../icon/marker/16x18/iconmarker18.png) !important; }
.iconmarker19{ background-image: url(../icon/marker/16x18/iconmarker19.png) !important; }
.refuse{ background-image: url(../icon/marker/16x18/refuse.png) !important; }
