.header {
}

.header__logo {
    height         : 100%;
    margin         : 0px 25px!important; /* TODO (CMR) : supprimer le !important quand style="margin-left:50px" aura été supprimé du template */
    vertical-align : middle;
}

.header__slogan {
    font-size : 24px;
}

.header__description {
    font-size : 14px;
}